body{
  background-color: #252525;
  color: white;
  font-family: sans-serif;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}
.main{
  padding: 24px;
  background-color: #1e1f22;
}
a{
  color: white;
}
a:visited{
  color: white!important;
  text-decoration: none;
}

.current{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 16px;
}

.table {
  display: table;
  width: auto;
  height: auto;
  padding: 8px;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 8px 16px;
  border: 1px solid #000;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background-color: #2b2d30;
}

.table-cell:hover {
  background-color: #43454a;
}
